@page
@model ShoppingCart.Pages.Cart.IndexModel
@{
}
@if (ViewBag.Cart.Count == 0)
{
    <br />
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Welcome!</strong> Your shopping cart is currently empty. Let's start shopping
    </div>
}
else
{
    <table class="cart-page">
        @foreach (var item in ViewBag.Cart)
        {
            <tr>
                <td><span class="p-name">@item.PName</span> </td>
                <td><span class="p-name">@String.Format("{0:c}", item.UnitPrice)</span> </td>
                <td>
                    <a class="quantity" onclick="Change(this, 1, @item.PID)">+</a>
                    <span class="p-name">@item.Quantity</span>
                    <a class="quantity" onclick="Change(this, 0,  @item.PID)">-</a>
                    <a class="remove" onclick="Change(this, -1,  @item.PID)">Remove</a>
                </td>
            </tr>
        }
        <tr><td>Total: </td><td id="totalPrice" colspan="2">@String.Format("{0:c}", ViewBag.CartTotalPrice)</td></tr>
    </table>
    <div class="button">
        @Html.ActionLink("Clear Cart", "Clear", "Checkout", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Countinue", "Purchase","Checkout", null, new { @class = "btn btn-info" })
    </div>
}