@page
@model ShoppingCart.Pages.CartModel
@{
}
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        text-align: center;
    }

    .btn {
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>


@if (Model.CartItems.Count != 0)
{
    <h1>Cart</h1>
    <div class="row">
        @foreach (var cart in Model.CartItems)
        {
            var photoPath = "~/images/cartApp/" + (cart.ImageURL) + ".png";
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@photoPath" class="w-100" asp-append-version="true" />
                    <div class="card-body text-center">
                        <h5 class="card-title">@cart.Name</h5>
                        <p class="card-text">@cart.Description</p>
                        <p class="card-text">Price: $@cart.Price</p>


                        <p class="card-text">Quantity: @cart.Quantity</p>

                        <form method="post" asp-page="Cart" asp-page-handler="UpdateQuantity">
                            <div class="input-group">
                                <button class="btn btn-primary" type="button" onclick="decrementQuantity(@cart.ProductID)">-</button>
                                <input type="number" id="quantity-@cart.ProductID" name="Quantity" class="form-control form-control m-2" value="@cart.Quantity">
                                <button class="btn btn-primary" type="button" onclick="incrementQuantity(@cart.ProductID)">+</button>
                                <input type="hidden" name="productID" value="@cart.ProductID" />
                
                            </div>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </span>
                        </form>
                        
                        
                        
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" name="ProductId" value="@cart.ProductID" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        <h1 class="text-center">Total = $ @Model.Total</h1>
        <input type="button" class="btn btn-primary mt-4" value="Buy Now" asp-page-handler="PassData" onclick="showCustomPrompt();" />
    </div>
    <body> 
        <div id="customPrompt" class="modal">
            <div class="modal-content">
                <div class="button-container">
                    <h1>Do you want to continue?</h1>
                    <a class="btn btn-secondary" onclick="SuccessPage();">Yes</a>
                    <button class="btn btn-secondary" onclick="FailedPage();">No</button>
                </div>
            </div>
        </div>

        <script>
            function incrementQuantity(productId) {
                var quantityInput = document.getElementById("quantity-" + productId);
                var currentQuantity = parseInt(quantityInput.value);
                quantityInput.value = currentQuantity + 1;
                
            }

            function decrementQuantity(productId) {
                var quantityInput = document.getElementById("quantity-" + productId);
                var currentQuantity = parseInt(quantityInput.value);
                if (currentQuantity > 1) {
                    quantityInput.value = currentQuantity - 1;
                }
            }

            function showCustomPrompt() {
            var modal = document.getElementById("customPrompt");
            modal.style.display = "block";
            }
            function SuccessPage() {

            window.location.href = '/SuccessPage'; 
            }
            function FailedPage() {

            window.location.href = '/Cart';
            }
        </script>
    </body>
}
else
{
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <h1>Cart is empty</h1>
        </div>
    </div>

}
