@page
@model ShoppingCart.Pages.ProductsPageModel

@{
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong> @TempData["Success"] </strong>
    </div>
}
<div class="row">
    <div class="col-md-9">
        <h1>Products</h1>
    </div>
</div>
<div class="row">
    @foreach (var product in Model.ProductItems)
    {
        var photoPath = "~/images/cartApp/" + (product.ImageURL) + ".png";
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@photoPath" class="w-100" asp-append-version="true" />
                <div class="card-body text-center">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Price: $@product.Price</p>
                    <form method="post" asp-page-handler="AddToCart">
                        <input type="hidden" name="ProductId" value="@product.ProductID" />

                        <div class="row justify-content-center mb-3">
                           `
                            <div class="col-auto">
                                <label for="quantity" class="col-form-label">Quantity:</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" name="Quantity" value="1" min="1" max="100" class="form-control form-control-sm" />
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }



</div>

